In [5]:
from os import path
import pandas as pd

DATA_DIR = './data'

In [6]:
pg = pd.read_csv(path.join(DATA_DIR, 'player_game.csv'))

In [7]:
pg.columns

Index(['name', 'fgm', 'fga', 'fg_pct', 'pts', 'fg3m', 'fg3a', 'fg3_pct', 'ftm',
       'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 'ast', 'tov', 'stl', 'blk',
       'blka', 'pf', 'pfd', 'min', 'season', 'player_id', 'pos', 'team',
       'date', 'game_id', 'plus_minus', 'dd2', 'start'],
      dtype='object')

In [17]:
import numpy as np

pg['biggest_impact'] = np.abs(pg['plus_minus'])
pg['ln_pts'] = np.log(pg['pts'])

pg.sort_values('biggest_impact', ascending = False, inplace = True)
pg.head()

/Users/ron-pc/Python_Projects/NBA_Analytics/.venv/lib/python3.8/site-packages/pandas/core/arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,name,fgm,fga,fg_pct,pts,fg3m,fg3a,fg3_pct,ftm,fta,...,player_id,pos,team,date,game_id,plus_minus,dd2,start,biggest_impact,ln_pts
668,G. Hayward,8,11,0.727,19,2,2,1.000,1,1,...,202330,Forward,BOS,20200111,21900578,38,0,True,38,2.944439
176,B. Bogdanovic,9,18,0.500,30,6,11,0.545,6,7,...,202711,Forward,UTA,20191120,21900210,38,0,True,38,3.401197
1192,H. Barnes,4,8,0.500,12,0,3,0.000,4,4,...,203084,Forward,SAC,20200802,21901247,-37,0,True,37,2.484907
1541,C. Johnson,5,13,0.385,14,2,9,0.222,2,2,...,1629661,Forward,PHX,20200806,21901270,36,1,True,36,2.639057
394,B. Beal,6,19,0.316,16,0,7,0.000,4,5,...,203078,Guard,WAS,20191210,21900352,-36,0,True,36,2.772589

In [27]:
player_game_simple = pg[['name','pts', 'biggest_impact', 'ln_pts']]
#player_game_simple.head()
#pg['name'].str.upper().sample(5).to_frame

pg['name'].str.replace('.',' ').sample(5)
#pg.head()

/var/folders/g7/5fn2ltg15n591znrc8j0q_sc0000gn/T/ipykernel_10790/3283515282.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pg['name'].str.replace('.',' ').sample(5)

641     D  Garland
864       C  White
1700     D  Bazley
1275     B  Ingram
1747      A  Burks
Name: name, dtype: object

In [29]:
pg['is_a_guard'] = (pg['pos']=='Guard')
pg[['name','is_a_guard']].sample(5)

               name  is_a_guard
250   D. Walton Jr.        True
2045      T. Jerome        True
635        T. Maker       False
1475   D. Gallinari       False
216         T. Ross        True